* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFF;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000
}

button {
    &.big-button {
        padding: 10px 30px;
        text-transform: uppercase;
        border-color: black;
        border-width: 1px;
        background-color: transparent;
        transition: color .5s, background-color .5s;

        &:hover, &:active {
            color: #FFFFFF;
            background-color: #000000;
        }
    }
}

.section-head {
    background-color: #EBEBEB;
    text-align: center;
    margin: 10px 0;
    padding: 30px 0;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .section-header {
        text-align: center;
        padding: 20px 0 0;
        margin: 10px 0;
    }

    .section-desc {
        margin: 10px 0;
        p {
            width: 60%;
            text-align: center;
            margin: auto;
        }
    }
}

.fa {
    padding: 10px;
    font-size: 25px;
    font-weight: lighter;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
}
  
  .fa:hover {
      opacity: 0.7;
  }